$gray: #9A9A9A;
$lightGray: #F2F2F2;
$dark-gray: #828282;

*, html, body, div, ul, li , input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1rem;
}

input {
  border: none;
  outline: none;
  font-size: 1rem;
}

input[type="text"] {
  border: 1px solid $gray;
  padding: 5px 10px;
}

input[type="button"] {
  cursor: pointer;
}

h4 {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.hall-section {
  padding: 20px 0;
  padding-bottom: 10px;
  h4 {
    margin-left: 20px;
  }
}
.section {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  input[type="text"] {
    display: block;
  }
  &.gender {
    flex-direction: row;
  }
  &.center {
    text-align: center;
    p:first-child {
      color: $gray;
    }
    .remaining {
      color: $dark-gray;
      font-size: 2rem;
      font-weight: 600;
      margin: 10px 0;
    }
  }
  .gender-selection {
    display: flex;
    justify-content: space-between;
    input[type="radio"] {
      display: none;
    }
    input[type="radio"]:checked+label{
      background: $gray;
      color: #fff;
    }
    label {
      transition: 0.5s;
      cursor: pointer;
      display: inline-block;
      padding: 6px 16px;
      border: 1px solid $gray;
    }
  }
}

.landing {
  height: 100%;
  width: 100%;
  background: blue;
  background: url('/static/img/hero.jpg') no-repeat center center;
  background-size: cover;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  background: $gray;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  flex-shrink: 0;
  > div {
    width: 33.3%;
  }
  .time {
    cursor: pointer;
    text-align: right;
    font-weight: 500;
    a {
      padding-right: 30px;
      background: url('/static/img/icons/time.png') no-repeat right center;
      background-size: 20px;
    }

  }
  .logo {
    width: 50px;
    height: 30px;
    a {
      display: inline-block;
    }
    a, img {
      width: 50px;
      height: 30px;
    }
  }
}
.sign-in-nav {
  text-align: left;
  input[type="button"] {
    border: 2px solid #fff;
    color: #fff;
    font-weight: 500;
    background: transparent;
    padding: 5px 12px;
  }
}

.hover {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  &.hidden {
    display: none;
  }
  .signin-body {
    background: #fff;
    color: $gray;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    .close {
      cursor: pointer;
      width: 26px;
      height: 26px;
      display: block;
      background: url('/static/img/icons/close.png') no-repeat center center;
      background-size: 26px;
      align-self: flex-end;
    }
    h3 {
      margin-bottom: 20px;
    }
  }
  &.intro {
    &.hidden {
      -webkit-animation-name: fadeout;
      animation-name: fadeout;
      -webkit-animation-duration: 3s;
      animation-duration: 2s;
    }
    color: $gray;
    h3 {
      font-weight: 500;
      margin: 15px 0 5px;
    }
    .intro-nav {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      .control {
        color: $dark-gray;
        font-weight: 500;
        width: 40px;
      }
      .control:last-child {
        text-align: right;
      }
    }
    .page-nav {
      li {
        margin: 0 5px;
        border-radius: 50%;
        width: 7px;
        height: 7px;
        display: inline-block;
        background: $gray;
        &.active {
          background: $dark-gray;
        }
      }
    }
    .container {
      background: #fff;
      max-width: 270px;
      padding: 50px 30px 30px;
      text-align: center;
      p {
        color: $gray;
      }
      img {
        background: $lightGray;
        height: 180px;
        width: 180px;
      }
    }
  }
  .instagram-login {
    padding: 7px 20px;
    display: inline-block;
    background-color: #fff;
    background-image: url('/static/img/icons/instagram-color.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px;
    padding-left: 40px;
    color: $gray;
    border: 1px solid $gray;
    margin-bottom: 10px;
    &:hover {
      text-decoration: underline;
    }
  }
}


.profile {
  /*
  text-overflow: ellipsis;
  width: 20px;
  white-space: nowrap;
  overflow: hidden;
  */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .profile-picture {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    background: $gray;
    margin-right: 10px;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.footer {
  margin-top: 20px;
  background: $lightGray;
  padding: 20px;
  color: $gray;
  font-size: 1.1rem;
  font-weight: 500;
  .links {
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      li {
        margin-right: 10px;
      }
    }
  }
  .social-links {
    margin: 20px 0;
    ul {
      display: flex;
      justify-content: center;
    }
    li {
      width: 25px;
      height: 25px;
      margin: 0 10px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.body {
  flex-grow: 1;
  overflow-y: scroll;
}

.hall-of-fame {
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
  .fame-item {
    padding: 0 20px 10px;
    .fame-item-content {
      background: $lightGray;
      max-width: 300px;
      display: flex;
      padding: 15px 20px;
      flex-shrink: 0;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
      border-radius: 3px;
      align-items: center;
      input {
        background: transparent;
        font-size: 2rem;
        margin-left: 30px;
      }
    }

  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.4;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@media (min-width: 700px) {
  nav {
    .logo {
      width: 60px;
      height: 36px;
      a, img {
        width: 60px;
        height: 36px;
      }
    }
  }
  .content-section {
    padding-top: 20px;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    .main-section {
      order: 1;
      flex-grow: 1;
      margin-right: 30px;
    }
    .hall-section {
      order: 2;
      flex-shrink: 0;
      .hall-of-fame {
        flex-direction: column;
        overflow-x: auto;
        max-width: 100%;
        overflow-y: scroll;
      }
    }
  }
  nav {
    padding: 10px 20px;
  }
  .signin-body {
    padding: 15px 40px;
  }
}
